<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Genres</key>
	<array>
		<string>Drum &amp; Bass</string>
		<string>Dubstep</string>
		<string>Electro</string>
		<string>Hardstyle</string>
		<string>House</string>
		<string>Trance</string>
	</array>
	<key>Filters</key>
	<array>
		<string>The Freshest</string>
		<string>Today&apos;s Best</string>
		<string>Top of the Week</string>
		<string>Top of the Month</string>
		<string>Top of the Year</string>
		<string>All Time Best</string>
	</array>
</dict>
</plist>
